:root 
{
   --sliderbar-bg-color:#6369D1;
   --hover-bg-color:#6544e1;
   --hover-text-color:#000;
   --text-color:#d3d1d1;
}

.divider
{
    background-color: black;
    padding: 0 10px 0 10px;
    width: 80%;
}

.d-flex 
{
    display: flex;
    align-items: center;
}


