.sidebar {
  background-color: var(--text-color);
  color: var(--sliderbar-bg-color);
  border-radius: 10px;

  .logo {
    text-align: center;
  }

  .menu-header
  {
    font-size: 20px;
    padding-top: 7px;
  }
  .menu-item {
    display: flex;
    align-content: center;
    padding-left: 3px;
  }

  .menu-item>* {
    padding-left: 10px;
  }

  .menu-item:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
    border-radius: 10px;
  }

  .menu-section {
    display: grid;
    gap: 14px;
    padding-left: 10px;
  }

}